.sample {
	text-align: center;
	color: white;
}
body{
	background: black;
	font-family: arial;
	size: 170%;
}

span{
	color: red;
}

p{
	font-style: italic;
}
img{
	border-radius: 50%;
	border-style: solid;
	border-color: red;
}